.filevideo-preview-div{
    background-color: black;
    height: 2.5rem;
    width: 100%;
    border: 2px solid #FFF86A;
    border-radius: 20px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.filevideo-preview-div > p{
    color: white;
    font-size: 1.15rem;
    margin-left: 1rem;
    display: contents;
}

.filevideo-preview-div > p::after{
    content: "\A";
    white-space:pre;
}

.filevideo-preview-div-modal > .modal-dialog > .modal-content{
    height: 25rem;
    width: 50rem;
}

.filevideo-preview-div-modal-body{
    align-content: center;
    justify-content: center;
}

.filevideo-preview-div-modal-body > video{
    width: 100%;
    height: 75%;
    margin-top: 1rem;
}

.filedocument-preview-div{
    background-color: black;
    height: 2.5rem;
    width: 100%;
    border: 2px solid #FFF86A;
    border-radius: 20px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.filedocument-preview-div > p{
    color: white;
    font-size: 1.15rem;
    margin-left: 1rem;
    display: contents;
}

.filedocument-preview-div > p::after{
    content: "\A";
    white-space:pre;
}

.filedocument-preview-div-modal-dialog{
    max-width: 90vw;
    max-height: 90vw;
}

.filedocument-preview-div-modal-body{
    align-content: center;
    justify-content: center;
    height: 90vh;
}

.filedocument-preview-div-modal-body > embed{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}