.filevideo-preview-div{
    background-color: black;
    height: 2.5rem;
    width: 100%;
    border: 2px solid #FFF86A;
    border-radius: 20px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.filevideo-preview-div > p{
    width: 80%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
    display: inline;
}

.filevideo-preview-div > button{
    width: 20%;
    height: 100%;
    right: 0%;
    background-color: transparent;
    border: none;
    color: #FFF86A;
}

.filevideo-preview-div > button > svg{
    margin-bottom: 0.25rem;
}

.filevideo-preview-div > p::after{
    content: "\A";
    white-space:pre;
}

.filevideo-preview-div-modal-dialog{
    max-width: 90vw;
    max-height: 90vw;
}

.filevideo-preview-div-modal-body{
    align-content: center;
    justify-content: center;
    height: 90vh;
}

.filevideo-preview-div-modal-body > video{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.filedocument-preview-div{
    background-color: black;
    height: 2.5rem;
    width: 100%;
    border: 2px solid #FFF86A;
    border-radius: 20px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.filedocument-preview-div > p{
    width: 80%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
    display: inline;
}

.filedocument-preview-div > p::after{
    content: "\A";
    white-space:pre;
}

.filedocument-preview-div > button{
    width: 20%;
    height: 100%;
    right: 0%;
    background-color: transparent;
    border: none;
    color: #FFF86A;
}

.filedocument-preview-div > button > svg{
    margin-bottom: 0.25rem;
}

.filedocument-preview-div-modal-dialog{
    max-width: 90vw;
    max-height: 90vw;
}

.filedocument-preview-div-modal-body{
    align-content: center;
    justify-content: center;
    height: 90vh;
}

.filedocument-preview-div-modal-body > embed{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}


.filemusic-preview-div{
    background-color: black;
    height: 2.5rem;
    width: 100%;
    border: 2px solid #FFF86A;
    border-radius: 20px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.filemusic-preview-div > p{
    width: 80%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
    display: inline;
}

.filemusic-preview-div > button{
    width: 20%;
    height: 100%;
    right: 0%;
    background-color: transparent;
    border: none;
    color: #FFF86A;
}

.filemusic-preview-div-modal-dialog{
    max-width: 90vw;
    max-height: 90vw;
}



