.alert-form-div{
    position: relative;
    height: 2.25rem;
    margin-top: 2%;
    border-radius: 45px;
    font-size: 0.85rem;
}

.alert-form-visible{
    visibility: visible;
}

.alert-form-hidden{
    visibility: hidden;
}

.alert-form-ok{
    background-color: #FFF973;
    box-shadow: 0 0 0.75rem #FFF974;
    color: black;
}

.alert-form-error{
    background-color: #BE1919;
    box-shadow: 0 0 0.75rem #B70000;
    color: #5F0C0C;
}