.social-media-btn{
    position: relative;
    font-size: 1.5rem;
    border: 2px solid;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    outline: none;
    background: linear-gradient(to right, #000000, #191919);
    color: white;
    box-shadow: 0 0 0.25rem white;
    text-shadow: 0 0 0.25rem white;
}

.social-media-btn-icon{
    margin-bottom: 25%;
}

.social-media-btn:hover{
    box-shadow: 0 0 1.25rem #FFF974;
    background: linear-gradient(to right, #FFF974, #FFF981);
    color: #000000;
    text-shadow: 0 0 0.25rem #000000;
}

.social-media-btn:hover > .social-media-btn-icon{
    color: #000000;
    text-shadow: 0 0 0.25rem #000000;
}