.textanimatedform{
    color: orange;
    position: relative;
    font-size: 6.5vh;
}

.textanimatedformkeyword{
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}