h2{
    position: relative;
    font-size: 4.5vw;
    color: black;
    -webkit-text-stroke: 0.3vw #FFF973;
    text-transform: uppercase;
}

h2::before{
    content: attr(datatext);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF85A;
    -webkit-text-stroke: 0vw black;
    border-right: 2px solid #FFF973;
    overflow: hidden;
    animation: animation 6s linear infinite;
}

@keyframes animation
{
    0%, 10%, 100%
    {
        width: 0;
    }
    70%
    {
        width: 100%;
    }
}