.main-musicexplorer-div-body{
    background-color: black;
    height: 100%;
    width: 100%;
    border: 2px solid #FFF86A;
    border-radius: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.main-musicexplorer-div-body > h2{
    font-size: 2rem;
    color: #FFF86A;
    filter: drop-shadow(0 0 0.75rem #FFF974);
}