.main-photoexplorer-div-body{
    background-color: black;
    height: 100%;
    width: 100%;
    border: 2px solid #FFF86A;
    border-radius: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.main-photoexplorer-div-body > h2{
    font-size: 2rem;
    color: #FFF86A;
    filter: drop-shadow(0 0 0.75rem #FFF974);
}

.image-gallery {
    width: 30rem;
    align-self: center;
    justify-self: center;
}

.image-gallery-slide > img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.fullscreen .image-gallery-slide > img {
    max-height: 100vh;
}

.filephoto-preview-div-modal-dialog{
    max-width: 90vw;
    max-height: 90vw;
}

.filephoto-preview-div-modal-body{
    align-content: center;
    justify-content: center;
    height: 90vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
}